#landing{
  position         : relative;
  text-align       : center;
  width            : 100%;
  height           : 90%;
  background-color : #1da1f2;
}

#permanent{
  display         : inline-block;
  position        : absolute;
  top             : 0;
  bottom          : 0;
  left            : 0;
  right           : 0;
  width           : 10%;
  height          : 4.5em;
  margin          : auto;
  color           : white;
  text-decoration : none;
  cursor          : auto;
  line-height     : auto;
  border-style    : solid;
  border-color    : white;
}

@media screen and (min-width: 1875px) {
  #permanent{
    height    : 2.75em;
  }
}

@media screen and (max-width: 1107px) and (min-width: 961px) {
  #permanent{
    font-size : 1em
  }
}

@media screen and (max-width: 961px) and (min-width: 0px) {
  #permanent{
    font-size : .9em;
    height    : 6.5em;
  }
}

#permanent:hover{
  background-color : #56b8f5;
  text-decoration  : underline
}
