#sidebar{
  padding     : 10px;
  width       : 20%;
  float       : left;
  height      : 100%;
  height      : 90%;
  color       : green;
  background  : linear-gradient(to top, #7575a3 0%, white 100%);
  overflow-x  : hidden;
  overflow-y  : scroll;
}

hr .side{
    display   : block;
    height    : 1px;
    border    : 0;
    border-top: 1px solid white;
    margin    : 1em 0;
    padding   : 0; 
}
